In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
credit_card = pd.read_csv("C:/Users/Maitreyee/Downloads/archive (2)/creditcard.csv")
credit_card.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [3]:
credit_card.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [4]:
credit_card.shape

(284807, 31)

In [5]:
credit_card.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,284807.000000,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,...,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,284807.000000,284807.000000
mean,94813.859575,3.918649e-15,5.682686e-16,-8.761736e-15,2.811118e-15,-1.552103e-15,2.040130e-15,-1.698953e-15,-1.893285e-16,-3.147640e-15,...,1.473120e-16,8.042109e-16,5.282512e-16,4.456271e-15,1.426896e-15,1.701640e-15,-3.662252e-16,-1.217809e-16,88.349619,0.001727
std,47488.145955,1.958696e+00,1.651309e+00,1.516255e+00,1.415869e+00,1.380247e+00,1.332271e+00,1.237094e+00,1.194353e+00,1.098632e+00,...,7.345240e-01,7.257016e-01,6.244603e-01,6.056471e-01,5.212781e-01,4.822270e-01,4.036325e-01,3.300833e-01,250.120109,0.041527
min,0.000000,-5.640751e+01,-7.271573e+01,-4.832559e+01,-5.683171e+00,-1.137433e+02,-2.616051e+01,-4.355724e+01,-7.321672e+01,-1.343407e+01,...,-3.483038e+01,-1.093314e+01,-4.480774e+01,-2.836627e+00,-1.029540e+01,-2.604551e+00,-2.256568e+01,-1.543008e+01,0.000000,0.000000
25%,54201.500000,-9.203734e-01,-5.985499e-01,-8.903648e-01,-8.486401e-01,-6.915971e-01,-7.682956e-01,-5.540759e-01,-2.086297e-01,-6.430976e-01,...,-2.283949e-01,-5.423504e-01,-1.618463e-01,-3.545861e-01,-3.171451e-01,-3.269839e-01,-7.083953e-02,-5.295979e-02,5.600000,0.000000
50%,84692.000000,1.810880e-02,6.548556e-02,1.798463e-01,-1.984653e-02,-5.433583e-02,-2.741871e-01,4.010308e-02,2.235804e-02,-5.142873e-02,...,-2.945017e-02,6.781943e-03,-1.119293e-02,4.097606e-02,1.659350e-02,-5.213911e-02,1.342146e-03,1.124383e-02,22.000000,0.000000
75%,139320.500000,1.315642e+00,8.037239e-01,1.027196e+00,7.433413e-01,6.119264e-01,3.985649e-01,5.704361e-01,3.273459e-01,5.971390e-01,...,1.863772e-01,5.285536e-01,1.476421e-01,4.395266e-01,3.507156e-01,2.409522e-01,9.104512e-02,7.827995e-02,77.165000,0.000000
max,172792.000000,2.454930e+00,2.205773e+01,9.382558e+00,1.687534e+01,3.480167e+01,7.330163e+01,1.205895e+02,2.000721e+01,1.559499e+01,...,2.720284e+01,1.050309e+01,2.252841e+01,4.584549e+00,7.519589e+00,3.517346e+00,3.161220e+01,3.384781e+01,25691.160000,1.000000

In [6]:
nonfraud = len(credit_card[credit_card.Class == 0])

In [7]:
fraud = len(credit_card[credit_card.Class == 1])

In [8]:
f_percent = (fraud/(fraud+nonfraud))*100

In [9]:
print(f_percent)

0.1727485630620034

In [10]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
credit_card['normalized_amount'] = scaler.fit_transform(credit_card['Amount'].values.reshape(-1, 1))

In [11]:
credit_card.drop(['Amount', 'Time'], inplace=True, axis=1)

In [12]:
credit_card.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,Class,normalized_amount
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0,0.244964
1,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,0,-0.342475
2,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,0,1.160686
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,0,0.140534
4,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,0,-0.073403

In [13]:
x = credit_card.drop(['Class'], axis=1)

In [14]:
y = credit_card['Class']

In [15]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state = 1)

In [16]:
print(x_train)

              V1        V2        V3        V4        V5        V6        V7  \
191125 -0.190075  0.203323 -0.996232 -1.596985  3.192579  3.356935  0.288299
153710 -0.000313  1.041633 -0.318849 -0.429824  0.927591 -0.784796  0.815404
261216  2.065603  0.071537 -1.892041  0.190985  0.681571 -0.286226  0.051364
190724  2.025587  0.060125 -1.843486  0.347168  0.301427 -0.955263  0.073910
127492 -0.482824  0.692865  1.397751  0.822699 -0.815530  0.143287 -0.419970
...          ...       ...       ...       ...       ...       ...       ...
21440  -2.986845 -8.663978 -1.910863  0.664058 -3.934875  0.861269  1.647511
117583  0.937083 -0.849673  0.524186 -0.020031 -0.606327  0.692302 -0.463724
73349  -1.149963  1.696462  1.637114  2.658991 -0.021502  0.192287  0.205204
267336  1.754554 -0.699398 -0.076332  0.443915 -0.672082  0.389061 -0.807534
128037 -0.707635  0.493302  2.648089  1.064807 -0.680271  1.183838  0.169413

              V8        V9       V10  ...       V20       V21       V22  \
191125  0.895003 -0.330024 -0.646900  ... -0.007496 -0.170599 -0.619724
153710 -0.175950  1.175180 -1.221469  ... -0.284525  0.160884  0.681572
261216 -0.040737  0.314773 -0.199536  ... -0.148721 -0.348255 -0.947148
190724 -0.137681  0.525494 -0.277888  ... -0.262006  0.219107  0.722795
127492  0.605203 -0.650301 -0.109470  ...  0.207773  0.255948  0.566025
...          ...       ...       ...  ...       ...       ...       ...
21440  -0.480963 -1.546866  0.346951  ...  4.315113  1.252092 -0.993085
117583  0.148857  0.785062 -0.400162  ...  0.396079 -0.143322 -0.479981
73349   0.588754 -1.187820 -0.480985  ... -0.127011  0.025147  0.086506
267336  0.202915  0.858635  0.102675  ...  0.088014  0.141950  0.358412
128037  0.074553  1.247988 -0.367904  ... -0.143786 -0.102350  0.323975

             V23       V24       V25       V26       V27       V28  \
191125  0.039651  0.706805 -0.160870  0.274825 -0.010541  0.022199
153710 -0.313216 -0.556475 -0.077819 -0.218129 -0.095776  0.037814
261216  0.270988 -0.011917 -0.234159  0.185280 -0.069232 -0.046179
190724 -0.054034 -0.490497  0.212825 -0.091711 -0.011126 -0.047441
127492  0.161260  0.057495 -1.055243  0.503132  0.069006  0.112114
...          ...       ...       ...       ...       ...       ...
21440  -2.173147  0.145570 -0.235062 -0.227411 -0.382702  0.404045
117583 -0.237902 -0.715247  0.251418  0.975406 -0.060168  0.023771
73349  -0.262748  0.321538  0.341667  0.210343 -0.162047  0.031193
267336  0.259748  0.746839 -0.560808  0.104636 -0.005853 -0.019622
128037 -0.172601  0.126965 -0.001998 -0.398741 -0.385589 -0.205589

        normalized_amount
191125          -0.295777
153710          -0.317247
261216          -0.345313
190724          -0.334838
127492          -0.165839
...                   ...
21440            8.891385
117583           0.331723
73349           -0.322924
267336           0.025789
128037          -0.122140

[199364 rows x 29 columns]

In [17]:
print(x_test)

              V1        V2        V3        V4        V5        V6        V7  \
169876 -0.611712 -0.769705 -0.149759 -0.224877  2.028577 -2.019887  0.292491
127467 -0.814682  1.319219  1.329415  0.027273 -0.284871 -0.653985  0.321552
137900 -0.318193  1.118618  0.969864 -0.127052  0.569563 -0.532484  0.706252
21513  -1.328271  1.018378  1.775426 -1.574193 -0.117696 -0.457733  0.681867
134700  1.276712  0.617120 -0.578014  0.879173  0.061706 -1.472002  0.373692
...          ...       ...       ...       ...       ...       ...       ...
128956  1.270567  0.120127 -0.325654  0.862062 -0.035647 -0.257454 -0.198930
177494  2.006508 -0.398689 -2.952190 -1.055997  2.542666  2.992624 -0.184526
26287  -0.176040  1.093239  2.165256  2.034383  0.459114  0.543965  0.525887
198160  2.000943 -0.480504 -0.665745  0.230648 -0.166581  0.337040 -0.649903
25893   1.061664 -0.307508  0.582271  0.678654 -0.762735 -0.358402 -0.329295

              V8        V9       V10  ...       V20       V21       V22  \
169876 -0.523020  0.358468  0.070050  ... -0.196039 -0.075208  0.045536
127467  0.435975 -0.704298 -0.600684  ... -0.009041 -0.128619 -0.368565
137900 -0.064966 -0.463271 -0.528357  ...  0.206028 -0.305402 -0.774704
21513  -0.031641  0.383872  0.334853  ...  0.315823 -0.220815 -0.419013
134700 -0.287204 -0.084482 -0.696578  ... -0.105286 -0.160161 -0.430404
...          ...       ...       ...  ...       ...       ...       ...
128956  0.049725  0.880408 -0.730249  ... -0.135089 -0.263635 -0.583619
177494  0.657981  0.327435 -0.048287  ... -0.080428 -0.129740 -0.492424
26287  -0.141176 -1.048307  0.567675  ...  0.236681  0.048972  0.351160
198160  0.040230  1.149152 -0.041993  ... -0.037310  0.194713  0.773789
25893   0.110103  0.578980 -0.086067  ... -0.107259  0.056136 -0.016681

             V23       V24       V25       V26       V27       V28  \
169876  0.380739  0.023440 -2.220686 -0.201146  0.066501  0.221180
127467  0.090660  0.401147 -0.261034  0.080621  0.162427  0.059456
137900 -0.123884 -0.495687 -0.018148  0.121679  0.249050  0.092516
21513  -0.239197  0.009967  0.232829  0.814177  0.098797 -0.004273
134700 -0.076738  0.258708  0.552170  0.370701 -0.034255  0.041709
...          ...       ...       ...       ...       ...       ...
128956 -0.201550 -0.711182  0.632351  0.478238 -0.009582  0.029778
177494  0.249071  0.695656 -0.053016 -0.139359 -0.042661 -0.060246
26287  -0.139014 -0.435309 -0.585953 -0.072770  0.028109 -0.045546
198160  0.052938  0.121127 -0.105823  0.634427 -0.018887 -0.042661
25893  -0.010563  0.067966  0.174634  0.375165 -0.024962  0.024561

        normalized_amount
169876          -0.346073
127467          -0.345313
137900          -0.349671
21513           -0.289340
134700          -0.350191
...                   ...
128956          -0.304013
177494          -0.193306
26287           -0.292419
198160          -0.233327
25893           -0.057491

[85443 rows x 29 columns]

In [18]:
print(y_train)

191125    0
153710    0
261216    0
190724    0
127492    0
         ..
21440     0
117583    0
73349     0
267336    0
128037    0
Name: Class, Length: 199364, dtype: int64

In [19]:
print(y_test)

169876    0
127467    0
137900    0
21513     0
134700    0
         ..
128956    0
177494    0
26287     0
198160    0
25893     0
Name: Class, Length: 85443, dtype: int64

In [20]:
from sklearn.ensemble import RandomForestClassifier

In [21]:
random_forest = RandomForestClassifier(n_estimators=100)

In [22]:
random_forest.fit(x_train, y_train)

RandomForestClassifier()

In [23]:
prediction = random_forest.predict(x_test)

In [24]:
rf_score = random_forest.score(x_test, y_test)*100

In [25]:
print(rf_score)

99.94967405170698